{{ with .Resources.Get "acting.yml" | unmarshal }}
  {{ range $i, $project := . }}
    {{- if not $project.name -}}
      {{- errorf "Project %d does not have a name" $i -}}
    {{- end -}}
    {{- if and (not $project.date) (not $project.dates) -}}
      {{- errorf "Project %d does not have a date" $i -}}
    {{- end -}}
    <section>
      <header>
        {{ with $project.date }}
          {{ with try (dateFormat "Jan 2006" .) }}
            {{ with .Value }}
              <span class="date">{{ . }}</span>
            {{ else }}
              <span class="date">{{ . }}</span>
            {{ end }}
          {{ end }}
        {{ else with $project.dates }}
          {{ if not .start }}
            {{ errorf "Project %s does not have a date start" $project.name }}
          {{ end }}
          {{ $start := dateFormat "Jan 2006" .start }}
          {{ $end := or (and .end (dateFormat "Jan 2006" .end)) (T "today" | humanize) }}
          {{ if eq $start $end }}
            {{ $start }}
          {{ else }}
            {{ $start }} – {{ $end }}
          {{ end }}
        {{ end }}
      </header>
      <main>
        <span class="name">{{ $project.name }}</span>
        {{ range $project.urls }}
          <span class="url">
            <a href="{{ . }}">{{ . }}</a>
          </span>
        {{ end }}
        {{ range $project.youtube }}
        {{ end }}
        {{ with $project.description }}
          <span class="description">{{ . }}</span>
        {{ end }}
        {{ with $project.roles }}
          <span>
            <b>{{ T "role" (len .) | humanize }}:</b> {{ delimit . ", " }}
          </span>
        {{ end }}
        {{ with $project.directors }}
          <span>
            <b>{{ T "director" (len .) | humanize }}:</b> {{ delimit . ", " }}
          </span>
        {{ end }}
        {{ with $project.producers }}
          <span>
            <b>{{ T "producer" (len .) | humanize }}:</b> {{ delimit . ", " }}
          </span>
        {{ end }}
        {{ with $project.categories }}
          <span>
            <b>{{ T "category" (len .) | humanize }}:</b>
            {{ range $project.categories }}
              {{ partial "category-icon.html" . }}
            {{ end }}
          </span>
        {{ end }}
      </main>
    </section>
  {{ end }}
{{ end }}
