{{ with .Resources.Get "workshops.yml" | unmarshal }}
  {{ range $workshop := . }}
    <section>
      <header>
        {{ with $workshop.date }}
          {{ with try (dateFormat "Jan 2006" .) }}
            {{ with .Value }}
              <span class="date">{{ . }}</span>
            {{ else }}
              <span class="date">{{ . }}</span>
            {{ end }}
          {{ end }}
        {{ else with $workshop.dates }}
          {{ if not .start }}
            {{ errorf "Project %s does not have a date start" $workshop.name }}
          {{ end }}
          {{ $start := dateFormat "Jan 2006" .start }}
          {{ $end := or (and .end (dateFormat "Jan 2006" .end)) (T "today" | humanize) }}
          {{ if eq $start $end }}
            {{ $start }}
          {{ else }}
            {{ $start }} – {{ $end }}
          {{ end }}
        {{ end }}
      </header>
      <main class="workshop">
        {{ with $workshop.name }}
          <span class="name">{{ . }}</span>
          {{ range $workshop.urls }}
            <span class="url">
              <a href="{{ . }}">{{ . }}</a>
            </span>
          {{ end }}
        {{ end }}
        {{ with $workshop.presenters }}
          <span>
            <b>{{ T "presenter" (len .) | humanize }}:</b> {{ delimit . ", " }}
          </span>
        {{ end }}
        {{ with $workshop.organizers }}
          <span>
            <b>{{ T "organizer" (len .) | humanize }}:</b> {{ delimit . ", " }}
          </span>
        {{ end }}
        {{ with $workshop.duration }}
          <span>
            <b>{{ T "duration" | humanize }}:</b> {{ . }}
          </span>
        {{ end }}
        {{ with $workshop.categories }}
          <span class="categories">
            <b>{{ T "category" (len .) | humanize }}:</b>
            {{ range $workshop.categories }}
              {{ partial "category-icon.html" . }}
            {{ end }}
          </span>
        {{ end }}
      </main>
    </section>
  {{ end }}
{{ end }}
