{{ define "main" }}
  <div
    class="archive {{ with .Site.Params.doNotLoadAnimations }}
      .
    {{ else }}
      animated fadeInDown
    {{ end }}"
  >
    {{ with .Title }}
      <h1>{{ . }}</h1>
    {{ end }}

    {{ range $firstLetter, $projects := partial "projects/GroupByTitleFirstLetter.html" . }}
      <div class="archive__heading">{{ $firstLetter }}</div>
      {{ range $projects }}
        <ul class="archive__list">
          <li class="archive__list-item">
            {{ if (eq .Site.Params.disableArchiveTitleStyling true) }}
              <a class="archive__list-title" href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
            {{ else }}
              <a class="archive__list-title" href="{{ .RelPermalink }}" title="{{ .Title }}">{{ upper .Title }}</a>
            {{ end }}
            <div class="archive__list-date">
              {{ $.Data.Terms.Count .Title }}
            </div>
          </li>
        </ul>
      {{ end }}
    {{ else }}
      <h2 style="text-align: center;">{{ T "noProjects" }}</h2>
    {{ end }}
  </div>
{{ end }}
