{{ define "main" }}
  <div id="content" class="post {{ partial "animation-class.html" . }}">
    <div class="post__content">
      {{ .Content }}
    </div>
  </div>

  <!--
  <div id="news">
    {{ $mainSectionsPages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $paginator := .Paginate $mainSectionsPages }}
    {{ if $paginator }}
      <div class="post {{ partial "animation-class.html" . }}">
        <div class="post__content">
          <h1>{{ T "news" | humanize }}</h1>
        </div>
      </div>
    {{ end }}
    {{ range $paginator.Pages }}
      <div class="post {{ partial "animation-class.html" . }}">
        {{ if .Params.thumbnail }}
          <div class="post__thumbnail-wrapper">
            <a href="{{ .RelPermalink }}">
              <img class="post__thumbnail" src="{{ .Params.thumbnail | relURL }}" alt="Thumbnail image" loading="lazy" />
            </a>
          </div>
        {{ end }}
        <div class="post__content">
          {{ $title := .Title }}
          {{ if (not .Site.Params.disableTitleCapitalization) }}
            {{ $title = upper $title }}
          {{ end }}

          <h3><a href="{{ .RelPermalink }}">{{ $title }}</a></h3>

          {{ $content := .Summary }}
          {{ if .Site.Params.fullPostContent }}
            {{ $content = .Content }}
          {{ end }}

          <p>{{ $content | safeHTML | plainify }}</p>

          {{- if and (.Truncated) (.Site.Params.readMore) -}}
            <a href="{{ .RelPermalink }}">{{ i18n "read_more" }}</a>
          {{- end -}}
        </div>

        <div class="post__footer">
          <em class="fas fa-calendar-day"></em>
          <span class="post__footer-date">
            {{ $dateFormat := "Mon, Jan 2, 2006" }}
            {{ with .Site.Params.indexDateFormat }}
              {{ $dateFormat = . }}
            {{ end }}

            {{ if .Site.Params.localizedDates }}
              {{ time.Format $dateFormat .Date }}
            {{ else }}
              {{ .Date.Format $dateFormat }}
            {{ end }}
          </span>
          {{ partial "taxonomy/taxonomy_partials.html" . }}
        </div>
      </div>
    {{ end }}
  </div>
  -->

  <div id="career" class="post {{ partial "animation-class.html" . }}">
    <h1>{{ T "career" | humanize }}</h1>
    <h2>{{ T "acting" | humanize }}</h2>
    {{ partial "home/acting.html" . }}
  </div>

  <div id="education" class="post {{ partial "animation-class.html" . }}">
    <h1>{{ T "education" | humanize }}</h1>
    <h2>{{ T "school" | humanize }}</h2>
    {{ partial "home/schools.html" . }}
    <h2>{{ T "workshop" | humanize }}</h2>
    {{ partial "home/workshops.html" . }}
  </div>
{{ end }}
