{{ define "main" }}
  <section id="photos">
    {{- range .Resources.ByType "image" -}}
      {{ $title := .Title }}
      {{ with .Filter images.AutoOrient }}
        <img src="{{ .RelPermalink }}"
             {{- if ge .Width .Height -}}
               class="landscape"
             {{- end -}}
             {{- if ne $title .Name -}}
               title="{{ $title }}"
             {{- end -}}
               />
      {{ end }}
    {{- else -}}
      {{ errorf (printf "No image found for page '%s' (%s), please try again later." .Title .RelPermalink) }}
    {{- end -}}
  </section>
{{ end }}
